/* Layout dasar supaya footer selalu di bawah */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f6f9;
}

body > .container {
    flex: 1; /* Konten akan menempati ruang tersisa */
}

.navbar {
    background-color: white;
}

.card {
    border-radius: 15px;
}

.card-icon {
    font-size: 40px;
    opacity: 0.8;
}

.hover-shadow:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: white;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.05);
}
